/* class -> .text-red {} */
/* id -> #id-bilgisi {} */

h1,h2,h3,h4,h5,h6 {
    color:#202020;
}

.text-red {
    color:red;
}

.fs-14 {
    font-size: 14px;
}

.fs-medium {
    font-size: 25px;
}

.fs-40 {
    font-size: 40px;
}

#last-article {
    font-size: 40px;
}